<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.mapper.AdminsMapper">
    <select id="queryAdmByAc" parameterType="String" resultType="Admins">
        select *
        from admins
        where admAccount = #{admAccount};
    </select>
    <update id="updateAdm" parameterType="Admins">
        update admins
        set admPwd = #{admPwd}
        where admAccount = #{admAccount};
    </update>
</mapper>